<!--

/**
 * User: Callum Carmicheal
 * Date: 25/09/2016
 * Time: 19:47
 */

-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body style="overflow: hidden;">
    <style scoped>
        body {
            background-color: #00695C;
            color: #FAFAFA;
        }
    
    </style>
    
    <br> <br> <br> <br> <br>
    
    
    <div class="row">
    
        <div class="col-md-4">
    
        </div>
    
        <div class="col-md-4">
    
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <img src="https://s.gravatar.com/avatar/2e629e2c14ee06cf4d546a4a0c1dfe4c?s=152" class="img-circle" alt="Image">
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-2"></div>
            </div>
    
            <br><br>
    
            <div class="row">
                <div class="col-md-6">
                    Username
                </div>
                <div class="col-md-6">
                    Password
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input id="frmUsername" type="text" class="form-control" aria-label="...">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input id="frmPassword" type="password" class="form-control" aria-label="...">
                    </div>
                </div>
            </div>
    
    
        </div>
    
        <div class="col-md-4">
    
        </div>
    </div>
    
    <br>
    
    <div class="row">
        <div class="col-md-4"></div>
    
        <div class="col-md-4">
            <div class="btn-group" role="group" style="width:100%">
                <button
                        type="button"
                        id="frmSubmit"
                        style="width:100%"
                        class="btn btn-default">Login</button>
            </div>
        </div>
    
        <div class="col-md-4">
    
        </div>
    </div>
    
    <br>
    <div class="row">
        <div class="col-md-4"></div>
    
        <div class="col-md-4">
            <button type="button"
                    class="btn btn-info"
                    id="btnSwapToOther"
                    style="width:100%">Register</button>
        </div>
    
        <div class="col-md-4"></div>
    </div>
    
    <br>
    <div class="row">
        <div class="col-md-4"></div>
    
        <div class="col-md-4">
            <div style="display:none;width:100%" class="alert alert-warning" id="resultWarning" role="alert"></div>
        </div>
    
        <div class="col-md-4">
        </div>
    </div>
    
    <script>
    
        function submitTheForm() {
            var username = elemUsername.val();
            var password = elemPassword.val();
    
            var loginData = {
                authUsername: username,
                authPassword: password
            };
    
            $.post("$Ajax/Auth/Login", loginData) .done(function( data ) {
    
                var allow = data.allowAccess, 
                    msg   = data.rejectMessage;
    
                if(allow) {
                    // Reload page
                    // To allow the automatic redirecting
                    window.location.reload();
                } else {
                    elemMessage.html(msg);
                    elemMessage.fadeIn(500);
                    setButtonClass("danger");
                }
            });
        }
    
        function onKeyPress() {
            elemMessage.fadeOut(500);
            setButtonClass("default");
        }
    
        function setButtonClass(classType) {
            $(elemSubmit).
                removeClass("btn-default").
                removeClass("btn-info").
                removeClass("btn-danger").
                removeClass("btn-success").
                    addClass("btn-" + classType);
        }
    
        function redirectToOther() {
            window.location = "$Auth/Register";
        }
    
        var elemUsername = null,
                elemPassword = null,
                elemSubmit   = null,
                elemToOther  = null,
                elemMessage  = null;
    
        $(function() {
            elemUsername = $("#frmUsername");
            elemPassword = $("#frmPassword");
            elemSubmit   = $("#frmSubmit");
            elemToOther  = $("#btnSwapToOther");
            elemMessage  = $("#resultWarning");
    
            $(elemUsername).keyup(onKeyPress);
            $(elemPassword).keyup(onKeyPress);
    
            elemPassword.keypress(function (e) {
                if (e.which == 13)
                    submitTheForm();
            });
    
            elemSubmit.click(submitTheForm);
            elemToOther.click(redirectToOther);
        });
    </script>
</body>
</html>